.Profile{
    background: #F8F8FC;
    position: absolute;
    top: 0;
    left: 0;
    padding: 90px 60px 42px 90px;
    width: 100%;

    .CardProfile{
        // height: 86vh;
        width: 100%;
        padding: 10px 40px 40px;
        height: 86vh;
        overflow: scroll;

        .title{
            font-weight: 700;
            font-size: 11px;
        }
    }

    .tabsBtns{
        display: flex;
        flex-direction: row;
        width: 389px;
        background: #F8F8FC;
        box-shadow: -4px -4px 4px #FFFFFF;
        border-radius: 12px;
        height: 50px;
        align-items: center;
        justify-content: center;

        .cont_tabs{
            @media (min-width: 1024px) and (max-width: 1440px){
                width: 63px;
            }
        }
    }
    .spaces{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 30px;
        .Cards1{
            display: flex;
            flex-direction: column;
            width: 565px;
            gap: 30px;
            align-items: center;
        }
        .Cards2{
            display: flex;
            flex-direction: column;
            width: 455px;
            gap: 30px;
        }
        .Cards3{
            display: flex;
            flex-direction: column;
            width: 567px;
            gap: 30px;
        }
    }

    .graphics{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 40px;
        justify-content: center;
        .grafica1{
            width: 45%;
        }
        .grafica2{
            width: 45%;
        }
    }
}

.noScroll{
    *::-webkit-scrollbar {
        width: 0;
        height: 0;
        box-shadow: inset 3px 3px 4px rgba(18, 18, 18, 0.07), inset -3px 3px 4px rgb(255 255 255);
        border-radius: 10px;
        
      }
}