.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background: rgb(255 255 255 / 0.12);
    backdrop-filter: blur(5px);

    .content_modal {
        z-index: 50;
        border-radius: 20px;
        padding: 5px;
        background: rgb(255 255 255 / 0.12);
        border-right: 5px solid #e2e2e2;
        box-shadow: 6px 2px 9px 0px rgb(171 167 167 / 75%);

        .subcontent_modal {
            background-color: #f8f8fc;
            padding: 10px 20px;
            border-radius: 20px;

            .divtitle {
                text-align: center;

                h1 {
                    color: #000000;
                    font-size: 24px;
                }
            }

            .divBtns {
                text-align: center;
                margin-top: 20px;
                padding-bottom: 20px;

                .btns {
                    display: inline-block;
                    margin-left: 20px;
                    text-align: center;
                    position: relative;
                }
            }

            .pTB10 {
                padding: 10px 0;
            }
        }
    }

    .small {
        top: 20%;
        width: 35%;
        left: 32.5%;
    }

    .midSize {
        top: 19%;
        width: 45%;
        left: 25%;

        .subcontent_modal {
            padding: 30px 70px;
        }
    }

    .medium {
        top: 15%;
        width: 50%;
        left: 25%;
    }
}

.ModalContent {
    .divList {
        .both {
            display: flex;
            justify-content: space-between;

            .text1 {
                color: #000000;
                font-weight: 700;
            }

            .text2 {
                color: #8d8d8d;
                font-weight: 700;
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 40px;
            height: 31vh;
            overflow-y: auto;

            .delete {
                width: 22px;
                height: 25px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .NewRow {
            width: 220px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 24px;
            font-weight: 700;

            .image {
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}