.alert {
    width: 100%;
    position: fixed;
    background: #C3C3C36E;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 100;

    .alert_modal {
        border-radius: 20px;
        padding: 5px;
        background: hsla(0, 0%, 100%, .12);
        border-right: 5px solid #e2e2e2;
        box-shadow: 6px 2px 9px 0 hsla(0, 2%, 66%, .75);
    }

    .alert_container {
        width: 900px;
        height: 650px;
        background: #F8F8FC;
        border-radius: 25px;
        padding: 70px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        box-shadow: inset 5px 5px 3px #FFFFFF99, inset -5px -5px 3px #FFFFFF99;

        .alert_logo {
            width: 333px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .alert_body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .alert_icon {
                img {
                    object-fit: contain;
                }
            }

            .alert_title {
                width: 55%;
                color: #000000;
                padding: 20px 0px;
                font-size: 23px;
                font-weight: 700;
                text-align: center;
            }

            .alert_button {
                width: 200px;
                margin-bottom: 20px;
            }
        }

        .alert_content {
            width: 500px;
            min-height: 160px;
            padding: 25px;
            margin-top: 20px;
            box-shadow: 6px 2px 9px 0 hsla(0, 2%, 66%, 0.75);
            border-radius: 10px;
            font-size: 30px;
            text-align: center;
        }
    }
}