/**
 * Styles for base component
 */
.checkbox {
    display: flex;
    align-items: center;
    gap: 15px;

    label {
        font-size: 14px;
        font-weight: 500;
        color: #262d3f;
    }

    /**
     * Styles for invalid input
     */
    .invalid[class~="p-checkbox"] {
        border: 1px solid #cf1515;
        border-radius: 5px;

        // [class~="p-checkbox-box"] {
        //     border: 1px solid #cf1515;
        // }

        // &:hover {
        //     border: 1px solid #de6164;
        // }

        // &:focus {
        //     border: 1px solid #de6164;
        // }
    }
}

/**
 * Styles for color variant
 * 
 * Primary color
 * 
 */
.primary {
    [class~="p-checkbox"] {
        width: 20px !important;
        height: 20px !important;
        box-shadow: 2px 2px 5px 0px rgba(158, 158, 158, 0.75);
        border-radius: 5px;

        [class~="p-checkbox-box"] {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #ffffff;
            border: none;

            [class~="p-checkbox-icon"] {
                width: 70%;
                height: 70%;
                color: transparent;
                background-image: url('/images/icons/check.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        // [class~="p-checkbox-box"][class~="p-highlight"] {
        //     background-color: #ffffff;
        //     border: none;

        //     &:hover {
        //         border: none;
        //         background-color: #ffffff;
        //     }

        //     // svg {
        //     //     color: transparent;
        //     //     background-image: url('/images/icons/check.svg');
        //     //     background-repeat: no-repeat;
        //     //     background-position: center;
        //     // }
        // }

        // [class~="p-checkbox-box"][class~="p-focus"] {
        //     border: none;
        // }
    }
}

/**
 * Secondary color
 */
.secondary {
    [class~="p-checkbox"] {
        width: 45px !important;
        height: 45px !important;
        border-radius: 10px;
        border: none;

        [class~="p-checkbox-box"] {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: #f2f4f7;
            border: 1px solid #dee0e3;

            [class~="p-checkbox-icon"] {
                width: 60%;
                height: 60%;
                color: transparent;
                background-image: url('/images/icons/check.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                filter: invert(100%);
            }
        }

        // [class~="p-checkbox-box"][class~="p-highlight"] {
        //     background-color: #000000;
        //     border: 1px solid #000000;

        //     &:hover {
        //         border: 1px solid #000000;
        //         background-color: #000000;
        //     }

        //     svg {
        //         width: 20px;
        //         height: 20px;
        //         color: #ffffff !important;
        //         // background-image: url('/images/icons/check.svg');
        //         // background-repeat: no-repeat;
        //         // background-position: center;
        //     }
        // }

        // [class~="p-checkbox-box"][class~="p-focus"] {
        //     border: 1px solid #dee0e3;
        // }
    }

    [class~="p-checkbox"][class~="p-highlight"] {
        [class~="p-checkbox-box"] {
            background-color: #000000;
            border: 1px solid #000000;
        }
    }
}

/**
 * Styles for read only input
 */

/**
 * Styles for disabled input
 */