.map {
  .headermap {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    .title {
      width: 50%;
      h1 {
        font-size: 39px;
      }
    }
    .input {
      width: 50%;
      text-align: right;
    }
  }
  .contenemap {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    margin-top: 70px;
    .zonesmap {
      width: 40%;
      .content {
        .carduser {
          width: 100%;
          background-color: #f8f8fc;
          box-shadow: 8px 4px 14px rgba(18, 18, 18, 0.07),
            -2px -3px 4px rgb(255, 255, 255);
          border-radius: 20px;

          display: grid;
          grid-template-columns: 33% 33% 33%;
          padding: 10px 15px;
          margin-top: 20px;

          .photodiv {
            width: 100px;
            margin: 0 auto;
            text-align: center;
            .date1 {
              background-color: #f8f8fc;
              box-shadow: 8px 4px 14px rgba(18, 18, 18, 0.07),
                -2px -3px 4px rgb(255, 255, 255);
              border-radius: 20px;
              padding: 10px;
              label {
                font-size: 28px;
                font-weight: 700;
              }
            }
            .date2 {
              label {
                font-size: 22px;
                font-weight: 400;
              }
            }
          }

          .divcontact {
            font-size: 28px;
            text-align: center;
            p {
              margin-bottom: 15px;
              font-weight: 400;
              color: #707070;
            }
          }
          .divzone {
            text-align: center;
            .zn1 {
              font-size: 29px;
            }
            .zn2 {
              font-size: 39px;
              font-weight: 700;
            }
            .zn3 {
              text-align: center;
              .circle {
                box-shadow: inset 5px 5px 3px #ededed,
                  inset 1px 0px 0px 4px #ffffff;
                border-radius: 20px;
              }
            }
          }
          .actions {
            .btn {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .mapview {
      width: 60%;
      text-align: right;
      padding-right: 20px;
      .head {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

        background-color: #f8f8fc;
        box-shadow: 8px 4px 14px rgba(18, 18, 18, 0.07),
          -2px -3px 4px rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px 15px;
        margin-bottom: 20px;
      }
      .img {
        width: 200px;
        height: 200px;
      }
      .btnfooter {
        display: flex;
        flex-direction: row;
        gap: 50px;
        width: 60%;
        margin: 0 auto;
        div{
          width: 50%;
        }
      }
    }
  }
}
